*{
    padding: 0%;
    margin: 0;
    font-size: 30px;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
p{
    color: rgb(20, 22, 19);
    margin-top: auto;
    padding-bottom: 0%;
}
span{
    font-size: 2em;
    color: rgba(197, 154, 60, 0.767);
}
ul{
    margin-right: 15px 15;
    font-size: 25px;
    padding: 15px 10;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all;
    background-color: rgb(210, 250, 247);
}
.btn{
    text-decoration: beige;
    margin: 10px;
    padding: 15px;
    background-color: rgb(7, 72, 80);
}
.menu1{
    background-color: rgb(47, 252, 252);
    text-decoration: none;
    position: relative;
}
.mode{
    text-align: center;

    }
.mod{
    color: blue;
    font-size: 5em;
    
}
.les{
    font-size: 2em;
    color: burlywood;
}
.Ensembles{
    text-align: center;
    font: 1em sans-serif;
}
.sect{
    flex-wrap: wrap;
    gap: 1em;
    margin: none;
    padding: none;
    font-size: 35px;
    background: padding-box;
    display:flex ;
    justify-content: space-between;
    background-color: coral;
    scroll-behavior:0,2s;
    
    
}
.sect :hover{
    gap: 1em;
    margin: none;
    padding: none;
    font-size: 35px;
    background: padding-box;
    justify-content: space-between;
    background-color: coral;
    scroll-behavior:0,2s;
}

.row { 
        margin: 1em 0;
        flex-wrap: wrap;
        padding: 15px 0;
        font-size: 35px;
        background-origin: padding-box;;
        display:flex ;
        justify-content: space-between;
        scroll-behavior: smooth;
        cursor: pointer;
        
    }
.sp{
    font-size: 35px;
    background-color:rgb(231, 211, 211);
    padding:none;
    color: black;
    margin: none;
}
h2{
    text-align: center;
    font-size: 2em;
}
h3{
    text-align: center;
    font-size: 35px;
}
.der{
    background-color: blue;
    margin-top: auto;
    
}
.fot{
    background-color: black;
    color: azure;
    text-align: center;
}
.shop{
    display: flex;
    gap: 25px;
    justify-content: last baseline;
    background-image: url(./backg);
    background-size: cover;
    padding-bottom: 15%;
    margin-bottom: 10%;

}
.promo{
    text-align: center;
    font-size:  100px;
    color: rgb(160, 160, 17);
}
.shop1{
    padding: 25px;
    margin: 25px;
    box-shadow: inset;

}